

.fixed-top {
    position: fixed;
top: 0px;
/*    height: 40px;*/
    width: 100%;
    z-index: 99;
}

.nav {
    background-color: grey;
}

.footer {
    height: 30px;
}

.main {
    top: 70px;
    position: relative;
    height: 1500px;
    background-color: bisque;
}

.child {
    position: absolute;
    height: 70px;
    width: 100%;
    background-color: aquamarine;
}
